ion-content.background{
    --ion-background-color:#333332}

ion-button.reservebtn{
    margin-left: 55%;
    padding-bottom: 15%;
    height: 40px;
    font-size: 16px;
}

ion-header.header{margin-top: 3%;}

ion-menu.menu{height: 100px;
width: 100px;}

ion-footer.footer{ --ion-background-color:#333332}
