<ion-content class="background" [fullscreen]="true">
  <ion-header class="header" collapse="condense">
    <ion-toolbar>
      <ion-app>
        <ion-menu  contentId="main-content">
          <ion-header>
            <ion-toolbar color="tertiary">
              <ion-title>Menu Content</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">This is the menu content.</ion-content>
        </ion-menu >
        <div class="ion-page" id="main-content">
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-menu-button color="warning"></ion-menu-button>
              </ion-buttons>
              <ion-searchbar animated="true" color="medium" placeholder="Pesquisar"></ion-searchbar>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
        </div>
      </ion-app>
    </ion-toolbar>
  </ion-header>
  

  

  <ion-list>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-card color="warning">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>               
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <div class="reservebtn">
          <ion-button class="reservebtn" color="dark">Reserve</ion-button>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>
    </ion-content>

    <ion-footer [translucent]="true">
      <ion-toolbar >
        <ion-tabs>
          <ion-tab-bar color="dark" slot="bottom">
           
            <ion-tab-button color="warning" tab="home">
              <ion-icon color="warning" name="play-circle"></ion-icon>
              <ion-text color="warning">
              Listen Now</ion-text>
            </ion-tab-button>
            <ion-tab-button color="warning" tab="radio">
              <ion-icon color="warning" name="radio"></ion-icon>
              <ion-text color="warning">
                Radio</ion-text>
           
            </ion-tab-button>
            <ion-tab-button color="warning" tab="library">
              <ion-icon color="warning" name="library"></ion-icon>
              <ion-text color="warning">
                Library</ion-text>
         
            </ion-tab-button>
            <ion-tab-button color="warning" tab="search">
              <ion-icon color="warning" name="search"></ion-icon>
              <ion-text color="warning">
                Search</ion-text>
            
            </ion-tab-button>
           
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>
    </ion-footer>
    
