<ion-content class="background" [fullscreen]="true">
  <ion-header class="header" collapse="condense">
    <ion-toolbar>
      <ion-app>
    
        <div class="ion-page" id="main-content">
         
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-menu-button color="warning"></ion-menu-button>
              </ion-buttons>
              <ion-searchbar class="pesquisa" animated="true" color="medium" placeholder="Pesquisar"></ion-searchbar>
            </ion-toolbar>
         
          <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
        </div>
      </ion-app>
    </ion-toolbar>
  </ion-header>
  

  

  <ion-list>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-card class="grad1">
          <div class="imgCard">
            <div class="container1">
              <ion-grid>
                <ion-row>
                  <ion-col size="7"><ion-card-title color="light">Frontera</ion-card-title></ion-col>
                  <ion-col><ion-icon color="light" class="star" name="star"></ion-icon></ion-col>
                  <ion-col><ion-icon color="light" class="star" name="star"></ion-icon></ion-col>
                  <ion-col><ion-icon color="light" class="star" name="star"></ion-icon></ion-col>
                  <ion-col><ion-icon color="light" class="star" name="star"></ion-icon></ion-col>
                  <ion-col><ion-icon color="light" class="star" name="star"></ion-icon></ion-col>
                </ion-row>
                <ion-row><ion-col size="7"><ion-card-subtitle color="light">Barra da Tijuca</ion-card-subtitle></ion-col> </ion-row>
              </ion-grid>
              
            
            </div>
          </div>
          <ion-card-content>
            <ion-text color="light"> Here's a small text description for the card content. Nothing more, nothing less.</ion-text>
           
          </ion-card-content>
          <div class="reservebtn">
          <ion-button class="reservebtn" color="dark">Reserve</ion-button>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>
    </ion-content>

    <ion-footer class="footer" >
     
        <ion-tabs class="footer">
          <ion-tab-bar class="tabBar" color="dark" slot="bottom">
           
            <ion-tab-button class="border" tab="home">
              <ion-icon class="button" color="warning" name="home"></ion-icon>
              <ion-text >
              Início</ion-text>
            </ion-tab-button>
            <ion-tab-button color="warning" tab="radio">
              <ion-icon  name="heart"><ion-text color="warning">
                Favoritos</ion-text></ion-icon>
              <ion-text >
                Favoritos</ion-text>
           
            </ion-tab-button>
            <ion-tab-button  tab="library">
              <ion-icon class="button"  name="map"></ion-icon>
              <ion-text >
                Mapa</ion-text>
         
            </ion-tab-button>
            <ion-tab-button  tab="chatbubble-ellipses">
              <ion-icon class="button"  name="chatbubble-ellipses"></ion-icon>
              <ion-text>
                Chat</ion-text>
            
            </ion-tab-button>
            
      
           
          </ion-tab-bar>
        </ion-tabs>
      
    </ion-footer>
